/_data
/createorupdate
/env
/env.*
!/env.example
/e2e-tests
/kubeconfig*
/sync
/startup
/monitoring
/etcdbackup
/tlsproxy
/azure-controllers
/metricsbridge
/canary
.vscode
.idea
coverage.out
cscope.files
cscope.out
/secrets/*
/fakerp
/artifacts
/id_rsa
/releasenotes
