/_data
/createorupdate
/env
/env.*
!/env.example
/azure
/testinsights
/kubeconfig*
.vscode
.idea
coverage.out
cscope.files
cscope.out
/secrets
vault-secrets.json
/fakerp
/artifacts
/monitoring
/id_rsa
/releasenotes
/vmimage
