# Pull shared CI secrets
[[ -e secrets/secret ]] && . secrets/secret

# For AAD to work, an AAD application has to be pre-created.  Customise this
# section with your Web API AAD application details
export AZURE_AAD_CLIENT_ID=
export AZURE_AAD_CLIENT_SECRET=

# ==============================================================================
# The following variables sometimes need to be overridden for development
# purposes.

# To restrict cluster region(s), uncomment and customise this section.  One or
# more of eastus, northeurope, westeurope, canadacentral australiasoutheast or
# centralus regions is recommended (based on our quota), comma-separated.
#export AZURE_REGIONS=eastus

# set the log analytics workspace resource ID. This should be in the same region as
# the cluster. if unset, Azure Monitoring will be disabled
# Note: this is the resourceID and should be of the following form:
# /subscriptions/$AZURE_SUBSCRIPTION_ID/resourcegroups/defaultresourcegroup-$AZURE_REGION/providers/microsoft.operationalinsights/workspaces/DefaultWorkspace-$AZURE_REGION
# export AZURE_WORKSPACE_ID=

# To create a Private Cluster uncomment this section.
# export PRIVATE_API_SERVER=true

# To override images, uncomment and customise this section as needed.
#PREFIX=quay.io/$USER
#export AZURE_IMAGE=$PREFIX/azure:latest

# To write debugging data to diagnose issues with hash function, uncomment this
# section.
#export DEBUG_HASH_FUNCTIONS=true

# If deploying pre-release OCP, uncomment and customise this section.
#export OREG_URL=$DEV_REGISTRY/openshift3/ose-\${component}:\${version}

# If overriding the published marketplace image, uncomment and customise this
# section
#export IMAGE_OFFER=osa-preview
#export IMAGE_VERSION=latest

# If autodiscovering the latest local VM Image resource, uncomment and
# customise this section
#export IMAGE_RESOURCEGROUP=images
#export IMAGE_RESOURCENAME=$(az image list -g $IMAGE_RESOURCEGROUP -o json --query "[?starts_with(name, 'rhel7-${DEPLOY_VERSION//v}') && tags.valid=='true'].name | sort(@) | [-1]" | tr -d '"')

# If building a custom image, uncomment and customise this section
#export IMAGE_RESOURCEGROUP="${USER}-images"
#export IMAGE_RESOURCENAME="rhel7-${DEPLOY_VERSION//v}-$(date -u +%Y%m%d%H%M)"
#export IMAGE_STORAGEACCOUNT="${USER}openshiftimages"

# ==============================================================================
# The following variables are set by the CI secret and normally do not need to
# be overridden

# Set the subscription, tenant, client IDs (mandatory if not using CI secret)
#export AZURE_SUBSCRIPTION_ID=
#export AZURE_TENANT_ID=
#export AZURE_CLIENT_ID=
#export AZURE_CLIENT_SECRET=

# Set the DNS domain and resource group (mandatory if not using CI secret)
#export DNS_DOMAIN=
#export DNS_RESOURCEGROUP=

# Set the OpenShift version (mandatory if not using CI secret)
#export DEPLOY_VERSION=v3.11

# If running tests please uncomment this section (set by CI secret)
#export RUNNING_UNDER_TEST=true

# The following variable defines the admin AAD group that will be synchronised
# into OpenShift (set by CI secret)
#export AZURE_AAD_GROUP_ADMINS_ID=

# Azure App insights key for metrics (set by CI secret)
#export AZURE_APP_INSIGHTS_KEY=

# GitHub API token for release notes (set by CI secret)
#export GITHUB_TOKEN=

