# Set the subscription, tenant, client IDs (mandatory)
export AZURE_SUBSCRIPTION_ID=
export AZURE_TENANT_ID=
export AZURE_CLIENT_ID=
export AZURE_CLIENT_SECRET=

# Set the DNS domain and resource group (mandatory)
export DNS_DOMAIN=osadev.cloud
export DNS_RESOURCEGROUP=dns

# Set the OpenShift version (v3.10) (mandatory)
export DEPLOY_VERSION=v3.10

# If deploying pre-release OCP, uncomment and customise this section.
#export OREG_URL=$DEV_REGISTRY/openshift3/ose-\${component}:\${version}

# If deploying CentOS/origin, uncomment this section, otherwise do nothing
#export DEPLOY_OS=centos7

# For AAD to work, the Web API application has to be pre-created. Uncomment and
# customise this section with your Web API AAD application details
# Do not set this value same as AZURE_CLIENT_ID. AZURE_AAD_CLIENT_ID application
# instance secret is being reset each time cluster is created
#export AZURE_AAD_CLIENT_ID=

# If autodiscovering the latest local node Image resource, uncomment and
# customise this section
#export IMAGE_RESOURCEGROUP=images
#export IMAGE_RESOURCENAME=$(az image list -g $IMAGE_RESOURCEGROUP -o json --query "[?starts_with(name, '${DEPLOY_OS:-rhel7}-${DEPLOY_VERSION//v}') && tags.valid=='true'].name | sort(@) | [-1]" | tr -d '"')

# If overriding the image used for the sync pod, customise this section.
#export SYNC_IMAGE=quay.io/openshift-on-azure/sync:v3.10
