# Set the subscription and tenant IDs (mandatory)
export AZURE_SUBSCRIPTION_ID=
export AZURE_TENANT_ID=

# Set the DNS domain and resource group (mandatory)
export DNS_DOMAIN=osadev.cloud
export DNS_RESOURCEGROUP=dns

# Set the OpenShift version (3.10) (mandatory)
export DEPLOY_VERSION=3.10

# Set DEV_PULL_SECRET when running pre-release/dev build of RHEL
# Use a token/password from the registry you will be interacting with (oc whoami -t)
#export DEV_PULL_SECRET=xxxxxxxxx

# If deploying CentOS/origin, uncomment this section, otherwise do nothing
# TODO: centos7 is the only deployment that works atm, use that as a default
export DEPLOY_OS=centos7

# If not auto-creating AAD application and service principal, uncomment and
# customise this section
#export AZURE_CLIENT_ID=
#export AZURE_CLIENT_SECRET=

# If autodiscovering the latest local node Image resource, uncomment and
# customise this section
#export IMAGE_RESOURCEGROUP=images
#export IMAGE_RESOURCENAME=$(az image list -g $IMAGE_RESOURCEGROUP -o json --query "[?starts_with(name, '${DEPLOY_OS:-rhel7}-$DEPLOY_VERSION') && tags.valid=='true'].name | sort(@) | [-1]" | tr -d '"')
