# credentials
export AZURE_TENANT_ID=
export AZURE_SUBSCRIPTION_ID=

export AZURE_CLIENT_ID=
export AZURE_CLIENT_SECRET=

export AZURE_CI_CLIENT_ID=
export AZURE_CI_CLIENT_SECRET=

export GITHUB_TOKEN=
export CODECOV_TOKEN=

# configurables
export DNS_DOMAIN=osadev.cloud
export DEPLOY_VERSION=v4.2

export AZURE_REGIONS=northeurope,eastus,westeurope

# files
# pull-secret.txt - download from https://cloud.redhat.com/openshift 
